.login__container {
    background-color: #ffffff;
    max-width: 430px;
    min-height: 282px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 165px;
    text-align: center;
}

@media screen and (max-width: 470px) {
  .login__container {
    max-width: 91.5vw;
    height: auto;
    padding: 34px 30px 20vh 30px;
  }
}

@media screen and (max-width: 320px) {
  .login__container {
    max-width: 282px;
    height: auto;
    padding: 25px 22px 20vh;
  }
}